<ion-content padding-danger class="background">



  <ion-row>
    <ion-col>
    </ion-col>
    <ion-col>
      <ion-card>


        <ion-card-header>
          <ion-title>
            <h1 class="animated infinite pulse">King's Cup!!</h1>
          </ion-title>


        </ion-card-header>

      </ion-card>
    </ion-col>
    <ion-col>
    </ion-col>
  </ion-row>


  <flash-card *ngFor="let card of flashCards" (idText)="setText($event)">
    <div class="flash-card-front"></div>

    <div class="flash-card-back"></div>
  </flash-card>

  <ion-row>
 
    <ion-col>
      <ion-card>


        <ion-card-header>
          <ion-title>
            <!--<h1 class="animated infinite pulse">Explication here</h1>-->
            <pre>{{description}}</pre>
          </ion-title>


        </ion-card-header>

      </ion-card>

    
    </ion-col>
  </ion-row>



  <!--<ion-row center> 
      <ion-col></ion-col>
      <ion-col>

        

      </ion-col>
      <ion-col col-2></ion-col>


    </ion-row>
    
  <ion-row>
    <ion-col><div>col</div></ion-col>
    <ion-col><div>col</div></ion-col>
    <ion-col><div>col</div></ion-col>
    <ion-col>
      <div>
        col<br>
        3 lines<br>
        of text<br>
      </div>
    </ion-col>
  </ion-row>

  <ion-row center>
    <ion-col><div>col</div></ion-col>
    <ion-col><div>col</div></ion-col>
    <ion-col><div>col</div></ion-col>
    <ion-col>
      <div>
        col<br>
        3 lines<br>
        center<br>
      </div>
    </ion-col>
  </ion-row>

  <ion-row center>
    <ion-col offset-25><div>col</div></ion-col>
    <ion-col><div>col</div></ion-col>
    <ion-col>
      <div>
        col<br>
        3 lines<br>
        center<br>
      </div>
    </ion-col>
  </ion-row>

  <ion-row baseline>
    <ion-col offset-50><div>col</div></ion-col>
    <ion-col>
      <div>
        col<br>
        3 lines<br>
        baseline<br>
      </div>
    </ion-col>
  </ion-row>

-->


</ion-content>