<ion-grid>
	<ion-row>

		<ion-col col-2>



		</ion-col>

		<ion-col col-8>
			<div class="flip-container" (click)="changeImage()" [class.flipped]="flipped">

				<div class="flipper">
					<div class="front frontCard">
						<ng-content select=".flash-card-front"></ng-content>
					</div>

					<div class="back cardBackground">
						<ng-content select=".flash-card-back"></ng-content>
					</div>
				</div>
			</div>
		</ion-col>
		<ion-col col-2></ion-col>
	</ion-row>
</ion-grid>