.ios, .md {
 
    flash-card {
 
        /*
         *  Flip animation by David Walsh: https://davidwalsh.name/css-flip
         */
 
        /* entire container, keeps perspective */
        .flip-container {
            perspective: 1000px;
        }
 
            /* flip the pane when hovered */
            .flip-container.flipped .flipper {
                transform: rotateY(180deg);
            }
            
        .flip-container, .front, .back {
            width: 60vw;
            height: 46vh;
            margin: 20px auto;
        }
        .cardImage {
             width: 100%;
            height: 100%;
            // margin: 20px auto;
        }
        .cardBackground {
     position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-image: url('http://www.pngmart.com/files/2/Mario-PNG-Image.png');
            background-repeat: no-repeat;
            background-size: contain;
    }
        .frontCard {
             position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-image: url("https://s-media-cache-ak0.pinimg.com/originals/91/69/ef/9169ef73b3564976a7dc564d66861027.png");
            background-repeat: no-repeat;
            background-size: contain;
            }

        /* flip speed goes here */
        .flipper {
            transition: 0.6s;
            transform-style: preserve-3d;
 
            position: relative;
        }
 
        /* hide back of pane during swap */
        .front, .back {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #ecf0f1;
            backface-visibility: hidden;
            -webkit-box-shadow: 0px 8px 4px -4px rgba(163,163,163,0.25);
            -moz-box-shadow: 0px 8px 4px -4px rgba(163,163,163,0.25);
            box-shadow: 0px 8px 4px -4px rgba(163,163,163,0.25);
            border: 1px solid #dee2e3;
            margin: 0;
            position: absolute;
            top: 0;
            left: 0;
        }
 
        /* front pane, placed above back */
        .front {
            z-index: 2;
            /* for firefox 31 */
            transform: rotateY(0deg);
        }
 
        /* back, initially hidden pane */
        .back {
            transform: rotateY(180deg);
        }

        #backId {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-image: url("https://img.clipartfest.com/e07cc76dbd84f38de67a6f287b4ac97a_play-card-ace-poker-clip-art-ace-card-clipart_2000-2500.png");
            background-repeat: no-repeat;
            background-size: contain;
        }
          #im {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-image: url("https://s-media-cache-ak0.pinimg.com/originals/91/69/ef/9169ef73b3564976a7dc564d66861027.png");
            background-repeat: no-repeat;
            background-size: contain;
        }
        
 
    }
 
}